/* Wrapper
-------------------------*/
#wrapper {
    background-color:	gray;
    overflow:		hidden;
    position:		absolute;
    width:		900px;
    height:		1200px;
    left:		200px;
}

#wrapper div {
    margin:		50px;
    padding:		20px;
    border:		3px solid black;
    overflow:		hidden;
    position:		absolute;
    width:		760px;
    height:		1100px;
    top:		0px;
}

#wrapper h3 {
    text-align:		center;
}

/*#wrapper .standard_link {
    text-align:		left;
}*/

#wrapper #article_1 {
    left:		0px;
}
